<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Angular-forms-enhanced : " />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Angular-forms-enhanced</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/IlanFrumer/angular-forms-enhanced">View on GitHub</a>

          <h1 id="project_title">Angular-forms-enhanced</h1>
          <h2 id="project_tagline"></h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/IlanFrumer/angular-forms-enhanced/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/IlanFrumer/angular-forms-enhanced/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" />

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="//rawgithub.com/IlanFrumer/angular-forms-enhanced/master/angular-forms-enhanced.min.js"></script>
    <script src="app.js"></script>

    <div ng-app="demo" ng-controller="MainCtrl">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div style="margin-top:55px"></div>
            <div class="info">
              <div class="ng-pristine">Pristine</div>
              <div class="ng-dirty">Dirty</div>
            </div>
            <hr/>
            <h3>Plain input:</h3>
            <div class="input-group">
              <input type="text" 
                     ng-model="user"
                     class="form-control">
            </div>
            <hr>      
            <h3>Input with form ($revert):</h3>
            <div>
              <div class="input-group" ng-form="oneForm">
                <input type="email" 
                       name="person"
                       ng-model="person"
                       class="form-control">
                <span class="input-group-btn">
                  <button ng-click="oneForm.$revert()"
                          class="btn btn-default">Revert</button>
                </span>
              </div>    
            </div>
            <hr>          
            <h3>Nested forms with contenteditable:</h3>
            <table class="table table-bordered" ng-form="itemsForm">
              <tr>
                <th>key</th>
                <th>english</th>
                <th>hebrew</th>
              </tr>
              <tr ng-repeat="item in list track by item.key" ng-form="itemForm">
                <td contenteditable ng-model="item.key" name="key"></td>
                <td contenteditable ng-model="item.en" name="en"></td>
                <td contenteditable ng-model="item.he" name="he" class="rtl"></td>
                <td>
                  <button ng-disabled="itemForm.$pristine" 
                          ng-click="itemForm.$revert()" class="btn btn-primary">Revert</button>              
                  <button ng-disabled="itemForm.$pristine" 
                          ng-click="save(item, itemForm)" class="btn btn-primary">save</button>
                </td>
              </tr>
              <tr>
                <td colspan="3" style="width:81%"></td>
                <td>
                   <button ng-disabled="itemsForm.$pristine"
                           ng-click="itemsForm.$revert()" 
                           class="btn btn-primary">revert all</button>

                   <button ng-disabled="itemsForm.$pristine"
                           ng-click="saveAll(itemsForm)" 
                           class="btn btn-primary">save all</button>
                </td>
              </tr>
            </table>
          </div>
        <hr/>
      </div>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Angular-forms-enhanced maintained by <a href="https://github.com/IlanFrumer">IlanFrumer</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
