body{
  color: #333;
}

.title {
  text-align: center;
  text-decoration: underline;
}

.title h1{
  font-weight: bolder;
  text-shadow: 3px 2px 5px #999;
}

tr.ng-pristine{
   background: #eee;
}

tr.ng-dirty{
   background: #ddd;
}

td,th{
  text-align: center;
}


input.ng-dirty,
td.ng-dirty{
  font-weight: bolder; 
}

tr:last-of-type{
  background: #bbb;
}

.rtl {
  direction: rtl !important;
}

.input-group {
  /*width: 100%;*/
}

h3{
  font-style: italic;
}

table {
  table-layout:fixed;
}